.footer{
    height: 300px;
    /* background-color: #A149FA; */
    background-color: #7986cb;;
    padding: 50px 150px;

}
.footer h2{
    color: #fff;
    font-size: 40px;
}
.footer .contact-btn{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid #A149FA;
}
.footer .contact-btn:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid #A149FA;
}
.footer .connect{
    font-size: 40px;
    color: #fff;
}
.footer .details{
    color: #fff;
}


@media screen and (max-width:800px){
    .footer{
        height: max-content;
        /* margin-top: 125px; */
        padding: 50px 20px;
    }
    .footer .connect{
        font-size: 24px;
        margin-top: 20px;
    }
}